<div class="main-container">
  <div>
    <img src="assets/images/weathernow.png" alt="Logo" class="main-container__logo">
  </div>
  <ng-container *ngIf="weatherInfo as data">
    <div class="cards-wrapper">
      <app-location-card [location]="data.location"></app-location-card>
      <app-weather-card [weather]="data"></app-weather-card>
    </div>
  </ng-container>
  
    
    <button 
    (click)="retrieveData()" 
    [disabled]="!canRefresh" 
    class="main-container__button">
    {{ canRefresh ? 'Buscar Temperatura' : 'Espera ' + remainingTime + 's' }}
  </button>
  
</div>