<div class="location-card">
    <div class="location-card__container">
      <img class="location-card__flag" [src]="'https://flagcdn.com/64x48/' + getCountryCode(location?.country) + '.png'" alt="Bandera">
  
      <h1 class="location-card__title">{{ location?.country }}</h1>
  
      <div class="location-card__info">
        <h2 class="location-card__label">{{'LOCATION.NAME' | translate}}</h2>
        <p class="location-card__text">{{ location?.name }}</p>
  
        <h2 class="location-card__label">{{'LOCATION.REGION' | translate}}</h2>
        <p class="location-card__text">{{ location?.region }}</p>
  
        <h2 class="location-card__label">{{'LOCATION.LAST_SCAN' | translate}}</h2>
        <p class="location-card__text">{{ location?.localtime }}</p>
      </div>
    </div>
  </div>
  